<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="addNewpatientform">
                <div class="main-div">
                    <div class="panel">
                        <h3>Add new patient</h3>
                        <hr>
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="example-form">
                            <!-- Name -->
                            <div class="column">
                                <div class="form-group">
                                    <mat-form-field appearance="fill">
                                        <mat-label>First name</mat-label>
                                        <input matInput ngModel type="text" #firstname="ngModel" name="firstname"
                                            id="addNewpatientfirstname" required>
                                    </mat-form-field>
                                    <mat-form-field class="adjacent-input" appearance="fill">
                                        <mat-label>Last name</mat-label>
                                        <input matInput ngModel type="text" #lastname="ngModel" name="lastname"
                                            id="addNewpatientlastname" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Gender -->
                            <div class="column">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Gender</mat-label>
                                        <mat-select matInut ngModel #gender="ngModel" name="gender"
                                            id="addNewpatientgender" required>
                                            <mat-option value="male">Male</mat-option>
                                            <mat-option value="female">Female</mat-option>
                                            <mat-option value="others">Others</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Blood group -->
                            <div class="column">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Blood Group</mat-label>
                                        <mat-select matInut ngModel #gender="ngModel" name="bloodgroup"
                                            id="addNewpatientbloodgroup" required>
                                            <mat-option value="a+ve">A+ve</mat-option>
                                            <mat-option value="a-ve">A-ve</mat-option>
                                            <mat-option value="b+ve">B+ve</mat-option>
                                            <mat-option value="b-ve">B-ve</mat-option>
                                            <mat-option value="ab+ve">AB+ve</mat-option>
                                            <mat-option value="ab-ve">AB-ve</mat-option>
                                            <mat-option value="o+ve">O+ve</mat-option>
                                            <mat-option value="o-ve">O-ve</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Contact number -->
                            <div class="column">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Mobile number</mat-label>
                                        <input matInput ngModel #phoneNumber="ngModel" name="phoneNumber"
                                            id="addNewpatientphoneNumber" class="w-10" [pattern]="mobile_number_pattern"
                                            type="text" required>
                                        <div *ngIf="phoneNumber.touched && !phoneNumber.valid">
                                            <div class="alert alert-danger" *ngIf="phoneNumber.errors?.pattern">
                                                Enter correct mobile number
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Address -->
                            <div class="column">
                                <div class="form-group">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Address</mat-label>
                                        <input matInput ngModel type="text" #address="ngModel" name="address"
                                            id="addNewpatientaddress" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Add button -->
                            <button mat-raised-button class="btn btn-outline-primary" [disabled]="!f.valid">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>