<h2 mat-dialog-title>Add Appointment to {{patient_name | titlecase}}</h2>
<mat-dialog-content>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <!-- Appointment date  -->
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Appointment Date</mat-label>
            <input matInput [matDatepicker]="picker" ngModel name="diagnosisDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- diagnosis -->
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Disease</mat-label>
            <input matInput ngModel name="diagnosis" required>
        </mat-form-field>
        <!-- Button -->
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button color="primary">Save</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
