<h2 mat-dialog-title>Select Patient</h2>
<mat-dialog-content>
  <mat-list>
    <mat-list-item *ngFor="let patient of patients" (click)="select(patient)" class="selectable-patient">
      <div mat-line><strong>{{ patient.firstname+" "+ patient.lastname |titlecase }}</strong> (Age: {{ calculateAge(patient.dob) }})</div>
      <div mat-line>Mobile: {{ patient.contactNumber }}</div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
