<mat-toolbar class="toolbar">
    <span class="hospital-name">🏥 My Hospital</span>
    <span class="spacer"></span>
    <span class="welcome-message">Welcome, {{ userName|titlecase }}</span>
    <span class="spacer"></span>

    <nav class="nav-links" fxHide.lt-md>
        <button mat-button routerLink="/home">Home</button>
        <button mat-button routerLink="/appointments">Appointments</button>
        <button mat-button routerLink="/patients">Patient Details</button>
        <button mat-button (click)="logout()">Logout</button>
    </nav>

    <!-- Mobile Menu -->
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/home">Home</button>
        <button mat-menu-item routerLink="/appointments">Appointments</button>
        <button mat-menu-item routerLink="/patients">Patient Details</button>
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <!-- menu button -->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button" fxShow.lt-md>
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>