<mat-toolbar class="toolbar">
    <span class="hospital-name">🏥 My Hospital</span>
    <span class="spacer"></span>
    <span class="welcome-message">Welcome, {{ userName|titlecase }}</span>
    <span class="spacer"></span>

    <nav class="nav-links" fxHide.lt-md>
        <button mat-button routerLink="dashboard">Home</button>
        <button mat-button [matMenuTriggerFor]="appointmentsMenu" class="dropdown-toggle">Appointments</button>
        <mat-menu #appointmentsMenu="matMenu">
            <button mat-menu-item routerLink="addAppointment">
                <mat-icon>add</mat-icon>
                <span>Add Appointment</span>
            </button>
            <button mat-menu-item routerLink="viewAppointments">
                <mat-icon>visibility</mat-icon>
                <span>View Appointments</span>
            </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="patientsMenu" class="dropdown-toggle">Patient Details</button>
        <mat-menu #patientsMenu="matMenu">
            <button mat-menu-item routerLink="addNewpatient">
                <mat-icon>add</mat-icon>
                <span>Add new patient</span>
            </button>
            <button mat-menu-item routerLink="patients">
                <mat-icon>visibility</mat-icon>
                <span>View patients</span>
            </button>
        </mat-menu>
        <button mat-button (click)="logout()">Logout</button>
    </nav>

    <!-- Mobile Menu -->
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/dashboard"><i class="fas fa-home"></i> Home</button>
        <button mat-menu-item [matMenuTriggerFor]="appointmentsMenu"><i class="fas fa-calendar-check"></i> Appointments</button>
        <button mat-menu-item [matMenuTriggerFor]="patientsMenu"><i class="fas fa-procedures"></i> Patient Details</button>
        <button mat-menu-item (click)="logout()"><i class="fas fa-sign-out-alt" fxShow.lt-md></i> Logout</button>
    </mat-menu>
    <!-- menu button -->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button" fxShow.lt-md>
        <mat-icon>menu</mat-icon>
    </button>
    <!-- Button icon -->
     
</mat-toolbar>