<div class="row" style="margin-top:10px;">
    <div class="col">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" style="color: white;" routerLink="/home">Hospital</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav ml-auto">
                    <span class="nav-item nav-link" style="font-weight:bold; color: whitesmoke;">
                        <button>Home</button>
                        <button>Patient details</button>
                    </span>&nbsp;
                </div>
            </div>
        </nav>
    </div>
</div>
