<!-- Header -->
<app-header></app-header>
<br>
<!-- Patient details & Search bar -->
<div class="container">
    <h2 class="mb-4" style="display: inline;">Patient Details</h2>
    <span class="float-end">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            <button matSuffix mat-icon-button aria-label="Search" (click)="onClickSearch(value)">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </span>
</div>
<!-- Table -->
<div class="container md-4 table-responsive">
    <table class="table table-striped table-hover content-table shadow p-3 bg-white rounded">
        <thead class="thead-dark">
            <tr>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Mobile</th>
                <th>Blood group</th>
                <th>Address</th>
                <th>Records</th>
                <th>Doctor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of filteredPatients| paginate:{itemsPerPage: 10, currentPage: p };index as i">
                <td>{{patient.id}}</td>
                <td>{{patient.name | titlecase}}</td>
                <td>{{patient.gender | titlecase}}</td>
                <td>{{patient.age}}</td>
                <td>{{patient.contact}}</td>
                <td>{{patient.blood | titlecase}}</td>
                <td>{{patient.address | titlecase}}</td>
                <td><a [routerLink]="['/dashboard/medical-history', patient.id]" mat-raised-button class="btn btn-sm btn-info">View history</a></td>
                <td>{{patient.doctor | titlecase}}</td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p= $event" style="float: right;"></pagination-controls>
</div>