/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg_background{
    background-color: rgb(129, 202, 231);
}

/* .bg_background_signup{
    background-color: rgb(163, 103, 219);
} */

.bg_background_addNewPatient{
    background-color: aliceblue;
}
